* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  font-family: curvy;
  background-color: rgb(212, 227, 232);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 240px;
  background-color: #29a8ff;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  gap: 45px;
}

.display {
  display: flex;
  background-color: aliceblue;
  padding: 1px;
  height: 36px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.calc-btns {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 24px;
  margin: 3px 1px;
  background-color: cadetblue;
  align-items: center;
  font-size: 12px;
}
.equals {
  margin: 3px 1px;
  width: 180px;
  background-color: rgb(42, 40, 60);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #989292;
}
.btn:active,
.operator:active {
  background-color: rgb(58, 245, 245);
}
.equals:active {
  background-color: rgb(87, 86, 89);
}
/* #back-btn {
  color: aliceblue;
} */
#display {
  border: 0px;
  outline: 0px;
  font-size: 12px;
  display: flex;
  align-self: end;
}
.buttons {
  margin-top: -45px;
}
